#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Telegraphem';
  src: url('http://127.0.0.1:5000/static/fonts/Telegraphem.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TypeWriter';
  src: url('http://127.0.0.1:5000/static/fonts/veteran_typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* general logo and body fonts/styles */
h1 {
  color: #A22C29;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Telegraphem";
  font-size: 120px;
}

h2, h3 {
  color: #C43331;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-family: "Telegraphem";
  font-size: 70px;
}

h4{
  color: #C43331;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 25px;
}

#burgerLogo {
  font-weight: 200;
  color: #A22C29;
}

body {
  font-family: "TypeWriter";
  font-size: 20px;
}

ul {
  margin: 0;
    padding: 0;
    list-style: none;
}

/* Landing, Login and SignUp Pages */

.button {
  font-size: 20px;
  color: #D6D5C9;
  background-color: #C43331;
  margin: 2px;
}

.button:hover {
  color: #521714;
  outline: none;
}

.link {
  color: #D6D5C9;
  font-size: 20px;
}

.link:hover {
  color: #521714;
  border: none;
  outline: none;
}

.buttonPair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logInButtonMess {
  margin: 10px;
  font-size: 20px;
}

.landingPageButtons {
  color: #A22C29;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

/* login and signup */

#name {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#name::placeholder {
  color: #884f21;
}

#email {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
  margin: 2px
}

#email::placeholder {
  color: #884f21;
}

#username {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
  margin: 2px
}

#username::placeholder {
  color: #884f21;
}

#password {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
  margin: 2px
}

#password::placeholder {
  color: #884f21;
}

.inputBlock {
  color: #C43331;
  font-size: 30px;
  margin: 10px;
}

.smallWords {
  color: #A22C29;
}

#loginMessage {
  text-decoration: underline;
  color: #196576;
}

#logInButton {
  margin-top: 20px;
}

#signUpButton {
  margin-top: 20px;
}

/* Kitchen CSS */
.kitchenHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.backButton {
  position: absolute;
    top: 50px;
    left: 50px;
}

#kitchenWelcome {
  color: #C43331;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  font-family: "Telegraphem";
  font-size: 50px;
}

#burgerAndMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.recipe_container{
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 375px;
}

.Recipe {
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 4px #c46f29;
  background-color: #e29a3b;
  width:200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-wrap: wrap;
  
}


.ingredient{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#userMenu{
  margin: 20px;
  min-width: 300px;
  min-height: 150px;
  max-width: 800px;
  max-height: 750px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 4px #A22C29; /* Inner border */
  background-color: wheat;
}

.emptyMessage {
  margin: 0;
  color: #C43331;
  font-size: 25px;
}


.noBurger{
  display: flex;
  margin: 10px;
}

#top_bun {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#top_bun::placeholder {
  color: #884f21;
}

#meat {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#meat::placeholder {
  color: #884f21;
}

#cheese {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#cheese::placeholder {
  color: #884f21;
}

#sauce {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#sauce::placeholder {
  color: #884f21;
}

#bottom_bun {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#bottom_bun::placeholder {
  color: #884f21;
}

#spoon_count {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#spoon_count::placeholder {
  color: #884f21;
}

.emptyBurgerMessage {
  color: #C43331;
  margin-bottom: 10px;
  font-size: 30px;
  text-decoration: underline;
}

.burgerInputs {
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#update {
  color: #521714;
  background-color: #e29a3b;
  font-family: "TypeWriter";
  font-size: 30px;
}

#update::placeholder {
  color: #884f21;
}

/* Account Page */
.accountInputs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
